body{
    height: 100%;
}

body a,a:hover{
    text-decoration:none !important;
    color: inherit;
}
/*底部导航样式*/
.mainnavtemp{
    height: 100px;
    border-top: solid 1px #DDD;
    background-color: #fff;
    text-align: center;
    padding-top:20px ;
}
.mainnavtemp i{
    display: block;
}
/*顶部蓝色背景样式*/
.bluebacktemp{
    height: 100px;
}
.loc{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 30px;
}
/*顶部搜索样式*/
.searchtemp {
    height: 80px;
    position: sticky;
    z-index: 1;
    top: 0;
    padding-top: 17px;
}

/*分类列表*/
.classifytemp ul,li{
    list-style:none;
    display:block;
    text-align: center;
    float: left;
}

/*广告栏样式*/
.bannertemp{
    width: 95%;
    margin: 0 auto;
    height: 29vw;
    background-image: url(../images/index_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vw 6vw;
}
.bannertemp h3{
    font-size: 4.2vw;
    margin-bottom: 1.2vw;
}
.bannertemp p{
    font-size: 3.4vw;
    color: #666;
    margin-bottom: 2.4vw;
}
.bannertemp a{
    font-size: 3vw;
    color: rgb(199, 144, 96);
    font-weight: 700;
}

/*会员样式*/
.supermembertemp{
    width: 95%;
    margin: 0 auto;
    height: 11.5vw;
    background-color: #FEEDC1;
    margin-top: 1.3vw;
    border-radius: 2px;
    color: #644F1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.supermembertemp .left{
    display: flex;
    align-items: center;
    margin-left: 4vw;
    user-select: none;
}
.supermembertemp .left img{
    width: 6vw;
    height: 6vw;
    margin-right: 2vw;
}
.supermembertemp .left h3{
    font-size: 4vw;
    margin-right: 2vw;
}
.supermembertemp .left p{
    font-size: 3vw;
}
.supermembertemp .right{
    font-size: 3vw;
    margin-right: 4vw;
    cursor: pointer;
}

/*推荐商家样式*/
.recommendtemp{
    margin-top: 50px;
    width: 100%;
    height: 14vw;
    display: inline-block;
    text-align: center;
}
.recommendtemp .recommend{
    text-align: center;
}
.recommendtemp .recommend .recommend-line{
    width: 6vw;
    height: 20px;
    background-color: black;
    display: inline;
}
.recommendtemp .recommend p{
    display: inline;
    font-size: 4vw;
    margin: 0 4vw;
}
.recommendtemp .recommendtype ul{
    width: 100%;
    height: 5vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recommendtemp .recommendtype li{
    font-size: 3.5vw;
    color: #555;
}

/*推荐商家列表样式*/
.recommendshoptemp{
    margin-bottom: 100px;
    margin-top: 20px;
}

/*顶部信息样式*/
.topinfotemp{
    height: 160px;
    text-align: center;
    line-height:  160px;
    font-size: 70px;
}

/*商家列表样式*/
.shopsListTemp {
    margin-top: 14vw;
    margin-bottom: 14vw;
}
.divbdr {
    border-bottom: 1px solid #b3b7bb;
    margin-bottom: 1em;
}

/*商家信息样式*/
.shopinfoTemp {
    margin-top: 180px;
    margin-bottom: 20px;
}
.shopinfoTemp .shopinfoTemp-d1{
    text-align: center;
}
.shopinfoTemp .shopinfoTemp-d1>img{
    width: 264px;
    height: 264px;
    margin-bottom: 50px;
}
.shopinfoTemp .shopinfoTemp-d1>h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.shopinfoTemp .shopinfoTemp-d1>p{
    color: #666;
    font-size: 40px;
}
.shopinfoTemp .shopinfoTemp-d2{
    margin-bottom: 20px;
}
.shopinfoTemp .shopinfoTemp-d2 :nth-child(1)>img{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.shopinfoTemp .shopinfoTemp-d2 :nth-child(2) h2{
    margin-bottom: 20px;
    color: #555;
}
.shopinfoTemp .shopinfoTemp-d2 :nth-child(2) p{
    color: #888;
    font-size: 30px;
}
.shopinfoTemp :nth-last-child(1){
    margin-bottom: 140px;
}
.shopinfoTemp .shopinfoTemp-d2 button{
    border: 0;
    color: #0097EF;
    font-size: 3.5vw
}
.shopinfoTemp .shopinfoTemp-d2 span{
    font-size: 3.5vw
}

/*底部结算样式*/
.settlementtemp{
    height: 9vw;
}
.settlementtemp .carleft{
    background-color: #505051;
}
.settlementtemp .carleft>div{
    width: 10vw;
    height: 10vw;
    box-sizing: border-box;
    border: solid 1.6vw #444;
    border-radius: 8vw;
    background-color: #3190E8;
    font-size: 4vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3.5vw;
    top: -2.5vw;
}
.settlementtemp .carleft>div>div{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 2.5vw;
    background-color: red;
    color: #fff;
    font-size: 3.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -1.5vw;
    top: -1.5vw;
}
.settlementtemp .carleft p{
    width: 8vw;
    margin-left: 14vw;
    font-size: 2.8vw;
    color: #fff;
    margin-top: 0.5vw;
    margin-bottom: 0;
}
.settlementtemp .carleft span{
    margin-left: 14vw;
    font-size: 2vw;
    color: #AAA;
}
.settlementtemp .carright{
    background-color: #38CA73;
    color: #fff;
    text-align: center;
}
.settlementtemp .carright h2{
    line-height: 9vw;
    font-size: 4vw;
    font-weight: 900;
}

/*用户登陆样式*/
.loginmembertemp{
    width: 100%;
    margin-top: 190px;
}
.loginmembertemp span{
    margin-bottom: 20px;
    font-size: 2vw;
    font-weight: 700;
    color: #666;
}
.loginmembertemp div{
    margin-top: 35px;
}

/*用户注册样式*/
.loginmembertemp {
    width: 100%;
    margin-top: 12vm;
    font-size: 1vw;
}

/*确认订单样式*/
.orderTemp{
    margin-bottom: 200px;
}
.orderTemp div:nth-child(1){
    margin-top: 160px;
    height: 170px;
}
.orderTemp>div>h5{
    font-size: 2vw;
    font-weight: 300;
    margin-top: 10px;
}
.orderTemp>div span{
    font-weight: 700;
    font-size: 3vw;
    margin-right: 50vw;
}
.orderTemp>div i{
    font-weight: 700;
    font-size: 4vw;
}
.orderTemp div:nth-child(2) h3{
    padding: 3vw;
    font-size: 4vw;
    color: #666;
    border-bottom: solid 1px #DDD;
}
.orderTemp .orderstl img{
    width: 10vw;
    height: 10vw;
    margin-bottom: 20px;
}
.orderTemp .orderstl p{
    width: 300px;
    font-size: 2vw;
    color: #666;
}

/*底部结算样式*/
.paymenttemp{
    height: 9vw;
}
.paymenttemp>div{
    background-color: #505051;
    color: #fff;
    text-align: center;
    line-height: 9vw;
    font-size: 3.5vw;
    font-weight: 700;
}
.paymenttemp div:nth-child(2){
    background-color: #38CA73;
    color: #fff;
    text-align: center;
    line-height: 9vw;
    font-size: 3.5vw;
    font-weight: 700;
}

/*我的订单样式*/
.orderlisttemp {
    width: 100%;
    margin-top: 180px;
}
.orderlisttemp span{
    float: right;
}
.orderlisttemp .order-info-right-icon{
    background-color: #f90;
    color: #fff;
    border-radius: 3px;
    margin-left: 0.5vw;
}

/*在线支付样式*/
.olpaymenttemp{
    margin-top: 180px;
    margin-bottom: 150px;
}
.olpaymenttemp :nth-child(2) span{
    color: #e7081b;
}
.olpaymenttemp span{
    float: right;
}
.olpaymenttemp div:nth-last-child(1){
    margin-top: 50px;
}